*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: #D5FF3F;
}
nav{
    padding: 50px 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

nav h2{
    font-size: 30px;
    font-weight: 550;
    color: rgb(57, 49, 49);
}

nav a{
    font-size: 22px;
    text-decoration: none;
    color: #424c23;
}
