*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

html,
body{
    height: 100%;
    width: 100%;
}

main{
    /* height: 100%; */
    width: 100%;
    background-color: #D5FF3F;
}
nav{
    padding: 50px 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

nav h2{
    font-size: 30px;
    font-weight: 550;
    color: rgb(57, 49, 49);
}

nav a{
    font-size: 22px;
    text-decoration: none;
    color: #424c23;
    font-weight: 500;
}
section{
    padding: 40px 60px;
}

section .hero-text1{
    /* background-color: red; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.hero-text1 h1{
    font-size: 220px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 180px;
}
.hero-text1 .video{
    height: 108px;
    width: 430px;
    background-color: black;
    border-radius: 100px;
    margin-top: 30px;
    background-image: url(https://images.unsplash.com/photo-1715465115663-2451562186a0?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    padding: 7px;
}
.video .play{
    height: 100%;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    border: 3px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.play i{
    color: rgb(255, 236, 96);
    font-size: 40px;
}

section .hero-text2{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.hero-text2 h1{
    font-size: 220px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 180px;
}
.hero-text2 p{
    font-size: 25px;
    width: 600px;
    text-transform: uppercase;
    font-weight: 500;
}

.image{
    height: 500px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 90%;
    margin-left: 5%;
    background-color: red;
    background-image: url(https://img.freepik.com/premium-photo/abstract-3d-render-ballerina-curvy-extrusions-vivid-pastel-colors_685067-966.jpg?w=1060);
    background-size: cover;
    background-position: center;
}